{% set currentUrl %}{{ page.url }}{% endset %}

<nav>
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}{% endif %} href="/">Home</a>
    </li>

    {% for page in collections.pages %}
    <li>
      <a 
        {% if currentUrl === page.url %}{% endif %} 
        href="{{ page.url }}">
          {{ page.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>
