---
layout: base.njk
---

<main>
	<article class="h-entry">
		<a href="{{ page.url }}" class="u-url">This post</a>
		<p>Published by: <a class="p-author h-card" href="https://ashellm.net">Amina Shellman</a></p>
		<p class="p-summary">{{ summary }}</p>
		<div class="e-content">
			{{ content | safe }}
		</div>
	</article>
	<footer>
	{% set replies = webmentions | getWebmentionsByTypes(['mention-of', 'in-reply-to']) %}
		{% for webmention in webmentions %}
			<div>
			{% if webmention | getWebmentionType  === "mention-of", "in-reply-to" %}
				<div>
				<p>
					{{webmention | getWebmentionContent}} was said by {{webmention | getWebmentionSource}} on {{getWebmentionPublished}}.
				</p>
				</div>
			{% endif %}

			{% if webmention | getWebmentionType == "like-of" %}
				<div>
					<p>{{webmention | getWebmentionSource}} liked this post.</p>
				</div>
			{% endif %}
			</div>
		{% endfor %}
	</footer>
</main>

