---
layout: base.njk
---

<main>
	<article class="h-entry">
		<h1 class="p-name">{{ title }}</h1>
		<p>Published by: <a class="p-author h-card" href="https://ashellm.net">Amina Shellman</a></p>
		<p class="p-summary">{{ summary }}</p>
		<div class="e-content">
			{{ content | safe }}
		</div>
	</article>
</main>

